In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Housing.csv')

In [4]:
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [6]:
df.isnull().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [10]:
for col in df.columns:
    if df[col].dtype != 'int':
        df.loc[:, col] = df[col].astype('category').cat.codes 

df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,218,232,3,1,2,1,0,0,0,1,2,1,0
1,217,260,3,3,3,1,0,0,0,1,3,0,0
2,217,268,2,1,1,1,0,1,0,0,2,1,1
3,216,237,3,1,1,1,0,1,0,1,3,1,0
4,215,232,3,0,1,1,1,1,0,1,2,0,0

In [13]:
X=df.iloc[:,1:14]
y=df.iloc[:,0]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [15]:
from sklearn.linear_model import Lasso,Ridge,LinearRegression
lasso=Lasso()
l=lasso.fit(X_train,y_train)
l.score(X_train,y_train)

0.710252854667344

In [16]:
l.score(X_test,y_test)

0.627231944508609

In [18]:
ridge=Ridge()
r=ridge.fit(X_train,y_train)
r.score(X_train,y_train)

0.7262166494264859

In [19]:
r.score(X_test,y_test)

0.6685594122703727

In [20]:
linear=LinearRegression()
li=linear.fit(X_train,y_train)
li.score(X_train,y_train)

0.7262557688014295

In [21]:
li.score(X_test,y_test)

0.6696161024253022